<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Grupo 3</title>
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') }}
  {{ style('style') }}
  
</head>
<body>
  <section>
    <div class="logo"></div>
        <h1>Grupo 3</h1>
      <p>
        <table class="table table-dark">
          <thead>
          <tr>
            <th>Carnet</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>2011 13875</td>
              <td>Peter Alexander Samuels Franco</td>
            </tr>
            <tr>
              <td>2011 14210</td>
              <td>Abraham Enrique Jr. Elías Elias</td>
            </tr>
            <tr>
              <td>2011 22998</td>
              <td>Pablo Roberto Roche Palacios</td>
            </tr>
            <tr>
              <td>2012 13255</td>
              <td>Leonel Eduardo Ávila Calvillo</td>
            </tr>
            <tr>
              <td>2012 13759</td>
              <td>Mauro Alejandro Herrera Castro</td>
            </tr>
            <tr>
              <td>2012 13062</td>
              <td>Mónica Raquel Calderón Muñoz</td>
            </tr>
          </tbody>
        </table>
      </p>
  </section>

  {{ script('https://code.jquery.com/jquery-3.3.1.slim.min.js')}}
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')}}
    {{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js') }}
</body>
</html>
